<h2>Le nostre Ricette!</h2>
<app-recipe-card [recipes]="ricette"></app-recipe-card>




<!-- padre figlio, piu data binding che avrà piu senso qui perche passiamo roba da padre a figlio
 se il padre vuole passare cose al figlio (input è da padre a figlio, output è il figlio che fa uscire
 cose da lui e le passa al padre) in parole migliori, il figlio decide sia input che output, a livello di codice
 parti dal figlio per prendere e dare cose
 eissitono anche metodi diretti per passare dati in input e output-->
